body{
    margin:0;
    padding-top:800px;
    text-align: center;
}
.profile{
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}
#Welcome{
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(#3aecf2 0%, #3d1eeb 100%);
    display: table; 
    width: 100%;
    height:100%;
    z-index: 9;
}
.welcomediv{
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
h1{
    font-size: 40px;
    font-family: inherit;
    font-weight: 300;
}
#name{
font-size: 30px;
    font-family:Shippori Mincho B1;
}
h2{
font-size: 30px;
    font-weight: 300;
    font-family: monospace;
}
#bio{
padding: 50px;
    font-size: 42px;
    text-align: center;
}
.line{
height: 6px;
    background-color:black;
    width: 70px;
    margin: 8px auto;
    
}
p{
max-width: 450px;
    margin:25px auto;
    font-size: 17px;
}
.menu{
    list-style: none;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
    font-family: sans-serif;
    
}
.links{
    float:left;
    color: white;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: fantasy;
}
.links:hover{
background-color:orange;
}